# Standard ignore

venv/
*.log
*.temp
*/venv/*
saved_model/
.env
.venv

#Ignored due to size
*model.safetensors
saved_model/model.safetensors
results/
*/results/*

#Irrelevant Ignore
headlines.csv
used_headlines.csv
*.csv
subscribers.db